*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #000;
}

span{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.sun{
    width: 60px;
    height: 60px;
    background-color: #ff8b17;
    box-shadow: 0 0 10px #ff8b17,
    0 0 20px #ff8b17,
    0 0 40px #ff8b17,
    0 0 60px #ff8b17;
}

.planet{
    background: transparent;
    border: 4px solid rgba(255, 255, 255, .5);
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        transform: translate(-50%,-50%) rotate(0);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);

    }
}

.planet1{
    width: 110px;
    height: 110px;
}

.planet2{
    width: 160px;
    height: 160px;
}

.planet3{
    width: 220px;
    height: 220px;
}

.planet4{
    width: 270px;
    height: 270px;
}

.planet5{
    width: 340px;
    height: 340px;
}

.planet6{
    width: 430px;
    height: 430px;
}

.planet7{
    width: 500px;
    height: 500px;
}

.planet8{
    width: 570px;
    height: 570px;
}

span::before,span::after{
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 50%;
}

.planet1::before{
    width: 20px;
    height: 20px;
    bottom: 6px;
    left: 2px;
    background: #979797;
}

.planet2::before{
    width: 25px;
    height: 25px;
    top: 10px;
    left: 10px;
    background: #ff2c00;
}

.planet3::before{
    width: 30px;
    height: 30px;
    top: 100px;
    right: -15px;
    background: #0099ff;
}

.planet4::before{
    width: 30px;
    height: 30px;
    top: 22px;
    left: 210px;
    background: #ff2433;
}

.planet5::before{
    width: 40px;
    height: 40px;
    bottom: -18px;
    left: 170px;
    background: #ffb624;
}

.planet6::before{
    width: 50px;
    height: 50px;
    top: 100px;
    left: -7px;
    background: #ffb84d;
}

.planet6::after{
    width: 80px;
    height: 20px;
    top: 115px;
    left: -21px;
    background: #ffb84d;
}

.planet7::before{
    width: 37px;
    height: 37px;
    bottom: 80px;
    right: 30px;
    background: #4d6bff;
}

.planet8::before{
    width: 41px;
    height: 41px;
    top: 5px;
    right: 140px;
    background: #d04dff;
}